# Première démonstration d'un calcul ACV par approche matricielle

In [18]:
import pandas as pd
import numpy as np
def inv(X):
    return pd.DataFrame(np.linalg.inv(X), index=X.columns, columns=X.index)

## Définir les données - Coefficients techniques

In [19]:
# Nos types de flux économiques
products = ['electricité [kWh]', 'mazout [kg]']

# Nos procédés élémentaires
activities = ['Prod_el', 'Prod_maz']

# Nos types de flux élémentaires
elementary_flows = ['CO2 [kg]', 'Chaleur [MJ]']

In [20]:
# Notre matrice technologiques
A = pd.DataFrame(index=products, columns=activities,
    data = [[ 1,   -0.18],
            [-0.24, 1]])
A

                   Prod_el  Prod_maz
electricité [kWh]     1.00     -0.18
mazout [kg]          -0.24      1.00

In [21]:
# Notre matrice de flux élémentaires
B = pd.DataFrame(
    index=elementary_flows,
    columns=activities,
    data= [[0.77, 0.44], 
           [0,0]])
B

              Prod_el  Prod_maz
CO2 [kg]         0.77      0.44
Chaleur [MJ]     0.00      0.00

In [22]:
# Notre vecteur de demande finale (contient l'UF)
f = pd.Series(index=products, data=[100, 0])
f

electricité [kWh]    100
mazout [kg]            0
dtype: int64

## Calculer le vecteur de mise à échelle

Pour avoir un équilibre entre l'offre et la demande de type de flux économique:

$$A s = f$$

On isole pour trouver $s$:

$$ A^{-1} A s = A^{-1} f$$

$$ s = A^{-1} f $$

In [23]:
# On inverse la matrice technologique. Le résultat est connu comme "L'inverse de Leontief"
L = inv(A)
L

          electricité [kWh]  mazout [kg]
Prod_el            1.045151     0.188127
Prod_maz           0.250836     1.045151

In [24]:
# On calcule le vecteur de mise à échelle
s = L @ f
s

Prod_el     104.515050
Prod_maz     25.083612
dtype: float64

### Calculer l'inventaire de cycle de vie

In [25]:
B @ s

CO2 [kg]        91.513378
Chaleur [MJ]     0.000000
dtype: float64